
@font-face {
  font-family: 'custom';  /* project id 614493 */
  src: url('http://at.alicdn.com/t/font_614493_jsonfdsg39qqia4i.eot');
  src: url('http://at.alicdn.com/t/font_614493_jsonfdsg39qqia4i.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_614493_jsonfdsg39qqia4i.woff') format('woff'),
  url('http://at.alicdn.com/t/font_614493_jsonfdsg39qqia4i.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_614493_jsonfdsg39qqia4i.svg#custom') format('svg');
}
[class^="icon-custom-"]:before, [class*=" icon-custom-"]:before {
  font-family: 'custom';
}
.custom {
  font-family:"custom" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-custom-dianhuaben:before { content: "\e62a"; }

